@page "/classdamage"

<h1>Class Damage 1</h1>
<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Class</th>
                @foreach(var tgd in tagdisplays){
                    <th scope="col">@tgd</th>
                }
            </tr>
        </thead>
        <tbody>
        @foreach(var c in classes){
            <tr>
                <td class="@c.theme.ToString()">@c.name</td>
                @foreach(var tgd in tags){
                    var hasTag = Schema.GdClass.HasSkillWithTag(c,tgd);
                    <td><input type="checkbox" disabled checked=@hasTag /></td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>

@functions {
    string themeFilter = "";
    string classFilter = "";
    IEnumerable<Schema.Tag> tags = GrimModTooling.Data.allTags;
    IEnumerable<string> tagdisplays = GrimModTooling.Data.allTagDisplays;
    IEnumerable<Schema.GdClass> classes = GrimModTooling.Data.gdClasses;
}
